body {
    background-color: #fdba29;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
   background-image: url(https://static.wikia.nocookie.net/esgta/images/f/f3/CJ.png/revision/latest/scale-to-width/360?cb=20110306183214);
    color: white;
    padding: 10px 20px;
    position: relative;
}

a{
    color:#ffffff

}

.info {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}


footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}